.hero-right {
    border: 1px solid var(--border-hero-right);
    border-radius: 10px;
    background-image: var(--background-hero-right);

    .border-top {
        border-top-width: 1px;
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: 0;
        border-image: var(--border-top-hero-right) 1;
    }

    .first {
        padding: 0 30px;
        height: 50px;
        border-color: var(--border-hero-right);
        border-width: 1px;
        border-style: solid;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        display: flex;
        gap: 10px;
        align-items: center;

        .circle {
            height: 12px;
            width: 12px;
            border-radius: 50%;

            &.bg-first {
                background-color: var(--text-red-500);
            }

            &.bg-second {
                background-color: var(--text-yellow-500);
            }

            &.bg-third {
                background-color: var(--text-green-500);
            }
        }
    }

    .second {
        position: relative;
        // padding nếu muốn, hoặc bỏ trống
        .edit-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            background: transparent;
            color: #ffffff8f;
            border: none;
            border-radius: 5px;
            padding: 3px 6px;
            cursor: pointer;
            opacity: 0.85;
            z-index: 10;
            transition: color 0.2s, transform 0.2s ease-in-out;
            &:hover {
                color: rgb(255, 255, 255);
                text-shadow: 4px 4px #fff;
                transform: scale(1.3);
            }
        }
        .close-btn {
            position: absolute;
            top: 32px;
            right: 20px;
            background: rgba(0, 0, 0, 0.25);
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 3px 8px;
            cursor: pointer;
            opacity: 0.85;
            z-index: 10;
            font-size: 18px;
            transition: background 0.2s;
            &:hover {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

/* Đảm bảo nền MDEditor hoàn toàn trong suốt */
.language-js,
.hero-right .w-md-editor,
.hero-right .w-md-editor * {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
